/*
  ===================================================
  Venue
  ===================================================
*/

.venue-theatre
{
    margin-bottom: 66;
    font-size: 17px;
}
.venue-theatre h2
{
    font-size: 25px;
}

.venue-hotel
{
    margin-bottom: 22px;
}

.venue-map
{
    height: 264px;
    float: right;
    margin-bottom: 30px;
}

.venue-theatre .up
{
    margin-top: 30px;
}